@import '../../../node_modules/colors.css/sass/_variables.scss';

@mixin textColor($color) {
  p, li, blockquote {
    color: $color;
  }

  @media print {
    p, li, blockquote {
      color: #555;
    }
  }
}

@mixin headingsColor($color) {
  h1, h2, h3, h4, h5, h6 {
    color: $color;
  }

  @media print {
    h1, h2, h3, h4, h5, h6 {
      color: #111;
    }
  }
}

@mixin full() {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

$copy: lighten($black, 15%);
$headings: $black;
$codeBg: #ccc;

html:not(.override) {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  background: #f0f0ea;

  @media (min-width: 600px) {
    font-size: 1.4em;
  }
}

// html is not specified here in order to get a lower specificity selector and
// ease the customization via additional CSS
:not(.override) {

  body {
    color: $copy;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  }

  h1,h2,h3 {
    font-family: "Ubuntu";
  }

  code {
    font-family: 'Menlo', 'Monaco', 'Consolas', monospace;
    border-radius: 5px;
  }

  article {
    @include full;
  }

  section {
    @include full;
  }

  section :not(pre) code {
    background: $codeBg;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $headings;
    font-weight: normal;
  }

  h1 {
    font-size: 2.18rem;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.64rem;
    line-height: 1.2em;
  }

  h3 {
    font-size: 1.45rem;
    line-height: 1.2em;
  }

  h4, h5, h6 {
    font-size: 1.18rem;
    line-height: 1.2em;
  }

  a,
  a:visited {
    color: $blue;
  }

  a:hover {
    color: $teal;
  }

  section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 0 5%;
    max-width: 100%;
  }


  pre {
    width: 100%;

    code {
      font-size: 0.75rem;
      line-height: 1.3em;
    }
  }

  li,
  p {
    font-size: 1rem;
    line-height: 1.4em;
  }

  p {
    text-align: left;
  }

  // Front page
  section:first-child {
    background: $blue;
    @include headingsColor($white);
    @include textColor($white);

    h1 {
      font-size: 300%;
      font-weight: bold;
    }
  }

  // Last page
  section:last-child {
    background: $black;
    @include headingsColor($white);
    @include textColor($gray);

    h1 {
      font-size: 300%;
      font-weight: bold;
    }
  }

  .section {
    background: $orange;

    @include headingsColor($white);
    @include textColor($white);

    h1 {
      font-weight: bold;
    }
  }

  .two-columns ol,
  .two-columns ul {
    column-count: 2;
  }

  .no-bullet ul li {
    list-style: none;
  }

  .quote {
    background: #222;
    @include textColor($white);
    position: relative;

    blockquote {
      font-size: 130%;
      text-align: left;
      margin: 0;
      padding: 0;
    }
  }


  cite {
    text-align: right;
    display: block;
    margin-top: 1em;
    color: $gray;
    font-size: 0.8em;
  }

  @media screen {
    .full-image {
      > * { z-index: 15 };
      img { z-index: 0 };

      img {
        min-height: 100%;
        min-width: 1024px;

        width: 100%;
        height: auto;

        position: fixed;
        top: 0;
        left: 0;
      }
    }

    .full-image-overlay {
      background: $black;

      img {
        opacity: 0.5;
      }

      * {
        color: $white;
        text-shadow: 0 1px 1px #000;
      }

      a,
      code {
        text-shadow: none;
      }

      a {
        color: $white;
      }

      code {
        color: $black;
      }
    }
  }


  @media (min-width: 600px) {
    section {
      h1, h2, h3, h4, h5, h6,
      & > p,
      & > pre,
      & > ul,
      & > ol {
        max-width: 800px;
      }

      & > ul,
      & > ol {
        list-style-position: inside;
        padding-left: 0;

        ul,
        ol {
          padding-left: 2em;
        }
      }
    }
  }

  table {
    th, td {
      line-height: 1.4em;
      padding: .2em .5em;
    }

    thead tr:last-child th {
      border-bottom: 2px solid $silver;
    }

    tbody tr:not(:last-child) td {
      border-bottom: 1px solid $silver;
    }
  }

  hr {
    display: none;
    border-bottom: 1px solid $gray;
  }
}
