@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/highlight.js/styles/monokai_sublime.css';
@import './sizing';

body {
  background: #f0f0ea;
  margin: 0;
  padding: 0;

  font-family: 'Helvetica', sans-serif;
}


pre.slides {
  display: none;
}

.slide {
  text-align: center;

  ul li,
  code {
    text-align: left;
  }

  code {
    font-family: 'Menlo', 'Monaco', 'Consolas', monospace;
  }
}

.flex {
  .slide {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}

// Activation. 

.slide:not(.active) {
  display: none;
}
