@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/highlight.js/styles/monokai_sublime.css';
@import './sizing';
@import './typography';
@import './colors';

body {
  background: #f0f0ea;
  margin: 0;
  padding: 0;
}


[data-slide-pack] {
  display: none;
}

.slide {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  ul li,
  code {
    text-align: left;
  }
}


// Activation.

.slide:not(.active) {
  display: none;
}

@import './trabe';
@import './print';
