@page {
  size: A4;
  margin: 1cm 1.5cm;
}

@media print {
  .slide-pack {
    position: relative;
  }

  .slide {
    box-sizing: border-box;
    height: auto;
    page-break-inside: avoid;
    position: relative ! important;
    padding-bottom: 2.5em;

    &:after {
      content: "";
      width: 100%;
      display: block;
      border-bottom: 1px solid #ddd;
      padding-bottom: 2.5em;
    }
  }

  .slide:not(.active) {
    display: block;
  }

  img { max-width: 100% !important;  }

  .slide code {
    font-size: 10pt !important;
  }
}
