@import '../node_modules/colors.css/sass/colors.scss';

@mixin textColor($color) {
  p, li, blockquote {
    color: $color;
  }

  @media print {
    p, li, blockquote {
      color: #555;
    }
  }
}

@mixin headingsColor($color) {
  h1, h2, h3, h4, h5, h6 {
    color: $color;
  }

  @media print {
    h1, h2, h3, h4, h5, h6 {
      color: #111;
    }
  }
}

.front-page {
  background: $blue;
  @include headingsColor($white);

  h1 {
    font-size: 300%;
    font-weight: bold;
  }
}

.section {
  background: $orange;
  @include headingsColor($white);

  h1 {
    font-weight: bold;
  }
}

.two-columns ul {
  column-count: 2;
}

.no-bullet ul {
  list-style: none;
}

.quote {
  background: #222;
  @include textColor($white);
  position: relative;

  blockquote {
    font-size: 130%;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}


cite {
  text-align: right;
  display: block;
  margin-top: 1em;
  color: $gray;
  font-size: 0.8em;
}

@media screen {
  .full-image img {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
  }

  .full-image {
    * { z-index: 10 };
    img { z-index: 0 };
  }
}

p {
  text-align: justify;
}
