<!DOCTYPE html>
<html>
  <head>
    <!--
      OK, name your slides:
    -->
    <title>SlidePack template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
    Ubuntu font FTW. Remove this comment to use it (if present, SlidePack will
    use this font for headings).

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
    -->

    <!-- SlidePack basic stylesheets and theme -->
    <link rel="stylesheet" type="text/css" href="slide-pack.css">
  </head>
  <body>

<textarea data-slide-pack>

--

# FRONTPAGE

--

# First slide

Write your stuff using markdown.

--

# Second slide

--

# etc.

--

# FIN

</textarea>

    <!-- SlidePack markdown compilation & UI goodies -->
    <script src="slide-pack.js"></script>
  </body>
</html>

