@page {
  size: A4;
  margin: 1cm 1.5cm;
}

@media print {
  article {
    position: relative;
  }

  section {
    box-sizing: border-box;
    height: auto;
    page-break-inside: avoid;
    position: relative ! important;
    padding-bottom: 2.5em;

    &:after {
      content: "";
      width: 100%;
      display: block;
      border-bottom: 1px solid #ddd;
      padding-bottom: 2.5em;
    }
  }

  section:not(.active) {
    display: block;
  }

  img { max-width: 100% !important;  }

  section code {
    font-size: 10pt !important;
  }
}
