body {
  font-size: 22px;
  line-height: 1.5em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 218%;
  line-height: 1.2em;
}

h2 {
  font-size: 164%;
  line-height: 1.2em;
}

h3 {
  font-size: 145%;
  line-height: 1.2em;
}

h4 {
  font-size: 118%;
  line-height: 1.2em;
}

section ul li,
section p {
  font-size: 1em;
  line-height: 1.3em;
}

section {
  box-sizing: border-box;
  padding: 0 5%;
}

$widths: 768px, 992px, 1200px;

section pre {
  width: 100%;
}

section code {
  line-height: 1.3em;
}

@each $w in $widths  {
  @media (min-width: $w) {
    body {
      font-size: 0.36em + $w / 1200px;
    }

    $maxWidth: 800px;

    section {
      pre {
        width: 88%;
        max-width: $maxWidth;
      }

      pre code {
        font-size: 1em - 0.2em * $w / 1200px;
      }

      & > ul,
      & > ol {
        list-style-position: inside;
        max-width: 60%;
        padding-left: 0;

        ul,
        ol {
          padding-left: 2em;
        }
      }

      & > p {
        max-width: 60%;
      }
    }

  }
}

$heights: 768px, 1000px;

@each $h in $heights  {
  @media (min-height: $h) {
    section {
      height: $h * 0.95;
    }
  }
}


@mixin full() {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

article {
  @include full;
}

section {
  @include full;
}
