@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/highlight.js/styles/monokai_sublime.css';
@import './_sizing';

body {
  margin: 0;
  padding: 0;
}


[data-slide-pack] {
  display: none;
}

section {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  li,
  code {
    text-align: left;
  }
}


// Activation.

section:not(.active) {
  display: none;
}

@import './_print';
@import './themes/default/default.scss';
