@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/highlight.js/styles/monokai_sublime.css';

@import './themes/default/default.scss';

// Activation.

[data-slide-pack] {
  display: none;
}

article {
  section:not(.active) {
    display: none;
  }
}

section {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;

  li,
  code {
    text-align: left;
  }
}

@import './_print';
